@import url('../assignments/Assign4/assignment4Styles.css');
body {
	font-family: Arial, Helvetica, sans-serif;
	color: gray;
	background-image: url('Images/trilliumgradient.png');
}
h1 {
	background-image: url('Images/CC50thAnniversary.jpg');
	background-repeat: no-repeat;
	color: #284000;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	font-variant: small-caps;
	text-transform: capitalize;
	font-size: x-large;
	padding-top: 215px;
}
.fieldLabel {
	vertical-align: top;
	text-align: right;
	color: #284130;
}
#copywright {
	font-size: x-small;
	color: #FFFFFF;
}
#allPage {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	border: medium solid #003300;
	box-shadow: 5px 5px 5px #999999;
	padding: 6px;
	border-radius: 15px;
}
